<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
    <h1>Список новостей</h1>
    <ul>
        Жизнь — это как компьютерный вирус: никто не ждал, но все уже подхватили.

Каждый раз, когда ты решаешь «сесть на диету», твой холодильник напоминает, что тоже переживает стресс и хочет утешения. И тут ты думаешь: «А может, просто шоколадку в знак поддержки?»

Если бы у меня был доллар за каждое «я начну с понедельника», я бы уже был не просто богатым, а миллионером с островом и под пальмой. Но увы, понедельник — это как математика в школе: звучит круто, но почти никто с ним не справляется.

Так что, друзья, помните: жизнь слишком короткая, чтобы не делать перерывы на кофе и не смеяться над собственными ошибками. А если вы вдруг забудете, что делали, значит, это была слишком весёлая вечеринка.
        <li>
            <h3>Tehnikum</h3>
            <p>IT — это когда ты вроде бы что-то понимаешь, но на деле просто жмёшь «Перезагрузить» до тех пор, пока всё не заработает.</p>
            <a href="{% url 'add_to_favorites' item.id %}">Добавить в избранное</a>
        </li>
        Сравнение новых гаджетов 2024 года
    </ul>
    <a href="{% url 'favorite_news' %}">Мои избранные новости</a>
</body>
</html>
